html{
    height: 100%;
}

body{
    min-height: 100%;
}

.total{
     display: grid;
     gap: 10px;
     background-color: transparent;

     grid-template: 
     "header" auto
     "main" auto
     "footer" 1fr;
}

.header{
    grid-area: header;
    background-color: transparent;
    
}

header nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 3px white;
    align-items: center;
    color: white;
    background-color: #0005;
    padding: 15px;
  }
  

.main{
    grid-area: main;
    background-color: transparent;
    display: grid;
    gap: 10px;
}

.main #imag-header{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top -300px right 0;
  overflow-x: hidden;
}


.footer{
    grid-area: footer;
    background-color: black;

}

@media (min-width:900px){
    .total{
    grid-template: 
    "header header header" auto
    "main main" auto
    "footer footer footer" 70px /
     50% 50%;
    }
}